{
  "presets": ["env"],
  "plugins": [
    ["module-alias", [
      {"src": "./src/lib/", "expose": "lib"},
      {"src": "./src/config/", "expose": "config"},
      {"src": "./src/views/", "expose": "views"}
    ]]
  ]
}