/*======================================================================
    MIXINS & EXTENDS
======================================================================*/
@import "~stylus-media-queries/index.styl"
@import "~stylus-easing/index.styl"
@import "~stylus-reset/index.styl"
@import "~brindille-stylus-extends/index.styl"

@import "./config/**/*.styl"

/*======================================================================
    BASE
======================================================================*/
reset()

html
  @extend .full-size-absolute
  background #232323
  color white
  overflow-x hidden
  overflow-y hidden

body
  @extend .full-size-absolute

a
  text-decoration none
